.queryEditorSection {
  max-height: 100vh;
  width: 100%;
  overflow-y: auto;
  display: grid;
  padding: 8px;
}
.queryEditorSection__form {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.queryEditorSection__queryEditorArea {
  height: 100%;
  font-size: 14px;
  border-radius: 1rem;
  transition: all 0.25s;
}
.queryEditorSection__queryEditorArea:hover {
  background-color: #f2f4fa;
}
.submitButton {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #86C232;
  transition: all 0.25s;
}
.submitButton:hover {
  background-color: #61892F;
  color: #ffffff;
}
