.header {
  color: #8585AD;
  background-color: #1C1C21;
  padding: 8px;
  margin-bottom: 4px;
}
.navbar {
  width: 100vw;
}
.navbarList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  .navbarList {
    flex-wrap: wrap;
  }
}
.navbarList__link {
  display: flex;
  align-items: center;
  border-radius: 40px;
}
