.documentaionSection {
  max-height: 80vh;
  overflow-y: auto;
  padding: 16px;
}
.documentaionSection__textArea {
  background-color: transparent;
  font-size: 14px;
}
@media screen and (max-width: 700px) {
  .documentaionSection {
    max-height: 35vh;
    padding: 4px;
  }
}
