:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #919597;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: #222629;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222629;
}
